<div id="stats-container" class="border d-flex">
    <app-dashboard-stat-card [statName]="'My Employees'" [statNumber]="100" [textColor]="'#F03A17'"></app-dashboard-stat-card>
    <app-dashboard-stat-card [statName]="'Employee Dependents'" [statNumber]="500" [textColor]="'#007bff'"></app-dashboard-stat-card>
    <app-dashboard-stat-card [statName]="'Deduction Total bi-weekly'" [statNumber]="100"></app-dashboard-stat-card>
    <app-dashboard-stat-card [statName]="'Deduction Total per month'" [statNumber]="100"></app-dashboard-stat-card>
    <app-dashboard-stat-card [statName]="'Deduction Total per year'" [statNumber]="100"></app-dashboard-stat-card>
</div>
