<div id="employee-dialog-container">
    <h2 class="empoyee-dialog-title">Employee</h2>

    <form [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
        <div class="row">
            <div class="col-md-12">
                <div class="row mb-4">
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label class="required-field">First Name</mat-label>
                            <input [disabled]="readOnly" formControlName="firstName" matInput autocomplete="off" maxlength="10"/>
                            <mat-error>{{getEmployeeFormControlErrorMsg('firstName')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label class="required-field">Last Name</mat-label>
                            <input [disabled]="readOnly" formControlName="lastName" matInput autocomplete="off" maxlength="10"/>
                            <mat-error>{{getEmployeeFormControlErrorMsg('lastName')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label class="required-field">Email</mat-label>
                            <input [disabled]="readOnly" formControlName="email" matInput autocomplete="off"/>
                            <mat-error>{{getEmployeeFormControlErrorMsg('email')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 ">
                        <mat-label>Date Joined</mat-label>
                        <div>{{employee.CreatedAtText}}</div>
                    </div>
                </div>
                <div class="row mb-4">                    
                    <div class="col-md-3">
                        <mat-label>Salary</mat-label>
                        <div>{{52000 | currency }}</div>
                    </div>
    
                    <div class="col-md-3">
                        <mat-label>Deduction bi-weekly</mat-label>
                        <div>{{getEmployeeDeductionCost('biWeekly') | currency}}</div>
                    </div>
                    <div class="col-md-3">
                        <mat-label>Deduction per month</mat-label>
                        <div>{{getEmployeeDeductionCost('month') | currency}}</div>
                    </div>
                    <div class="col-md-3 ">
                        <mat-label>Deduction per year</mat-label>
                        <div>{{getEmployeeDeductionCost('year') | currency}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-wrapper border-top border-left border-right">
            <div class="d-flex justify-content-between header">
                <div class="header-title">Dependents</div>
                <button [style.background-color]="readOnly ? 'grey !important' : ''" [disabled]="readOnly" (click)="addNewDependent($event)" mat-raised-button class="add-dependent-btn">Add Dependent</button>
            </div>

            <form #employeeDependentsForm="ngForm">
                <table mat-table [dataSource]="dependentsDataSource">  
                    <ng-container matColumnDef="FirstName">
                        <th mat-header-cell *matHeaderCellDef>First Name</th>
                        <td width="31%" mat-cell *matCellDef="let element; let row = index">
                            <span *ngIf="!element.edit">{{element.FirstName}}</span>
                            <mat-form-field *ngIf="element.edit">
                                <input name="{{row + '-firstName'}}"  matInput [(ngModel)]="element.FirstName" name="firstName" autocomplete="off" required/>
                                <mat-error>You must enter a value</mat-error>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="LastName">
                        <th mat-header-cell *matHeaderCellDef>Last Name</th>
                        <td width="31%" mat-cell *matCellDef="let element; let row = index">
                            <span *ngIf="!element.edit">{{element.LastName}}</span>
                            <mat-form-field *ngIf="element.edit">
                                <input name="{{row + '-lastName'}}" matInput [(ngModel)]="element.LastName" name="lastName" autocomplete="off" required/>
                                <mat-error>You must enter a value</mat-error>
                            </mat-form-field>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="Relationship">
                        <th mat-header-cell *matHeaderCellDef>Relationship</th>
                        <td width="31%" mat-cell *matCellDef="let element; let row = index">
                            <span *ngIf="!element.edit">{{element.RelationshipDisplayName}}</span>
                            <mat-form-field *ngIf="element.edit">
                                <mat-select matNativeControl name="{{row + '-relationship'}}" [(ngModel)]="element.RelationshipId"  [compareWith]="compareWith" (selectionChange)="onRelationshipSelect($event, element)" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let Relationship of masterData.Relationships" [value]="Relationship.Value">{{Relationship.Text}}</mat-option>
                                </mat-select>
                                <mat-error>You must select a value. </mat-error>
                            </mat-form-field>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="Actions">
                        <th class="actions-column" mat-header-cell *matHeaderCellDef> Actions </th>
                        <td  width="5%" class="actions-column" mat-cell *matCellDef="let element; let row = index">
                            <div>
                            <button (click)="$event.preventDefault()" [disabled]="readOnly" mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button *ngIf="element.edit" (click)=" saveDependent(element, row)" type="submit" mat-menu-item>Save</button>
                                <button *ngIf="!element.edit" (click)="editDependent(element)" mat-menu-item>Edit</button>
                                <button *ngIf="!element.edit" mat-menu-item (click)="deleteDependent(row)" >Delete</button>
                                <button *ngIf="element.edit" mat-menu-item (click)="cancelDependent(element, row)">Cancel</button>
                            </mat-menu>
                            </div>
                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="depndentsColumns"></tr>
                    <tr id="{{i+'-row'}}" #dependentRow mat-row *matRowDef="let row; columns: depndentsColumns;let i = index;">
                    </tr>
                </table>
            </form>
            
        </div>

        <div *ngIf="!readOnly" class="d-flex justify-content-end">
            <div class="actions">
                <button (click)="onCancel($event)" mat-raised-button class="cancel-btn mr-2">Cancel</button>
                <button (click)="onSave($event)" mat-raised-button  class="save-btn">Save</button>
            </div>          
        </div>
        
    </form>
</div>
