$navbar-height: 64px;
$view-height: 100vh;

#home-container {
  background-color: #EAEAEA;
  height: calc(#{$view-height} - #{$navbar-height});
  
  .icon {
    height: 80px;
    font-size: 50px;
    text-align: center;
  }

  .login-txt {
    text-align: center;
    font-size: 30px;
    height: 50px;
  }
}