#home-container {
  background-color: #EAEAEA;
  min-height: 100vh;
  
  .icon {
    height: 80px;
    font-size: 50px;
    text-align: center;
  }

  .login-txt {
    text-align: center;
    font-size: 30px;
    height: 50px;
  }
}