  
#navbar-container {
    mat-toolbar {
        .icon-btn {
            padding: 0 10px;
            font-size: 30px;
        }

        .help-btn {
            color: black;
            font-size: 20px;
        }
    }
} 