#card-container {
    margin-top: 10px;
    background-color: white;
    padding: 22px;

    .stat-name {
        font-size: 13px;
        margin-bottom: 15px;
        font-weight: 500;
    }
    .stat-number {
        font-weight: 400;
        font-size: 24px;
    }
}

@media (max-width: 679px) { 
     #card-container {
        width: 215px;
        height: 184px;
    }
}

 @media (min-width: 680px) { 
    #card-container {
        min-width: 199px;
        height: 184px;
    }
}
