#card-container {
    margin-top: 10px;
    min-width: 199px;
    height: 184px;
    background-color: white;
    padding: 22px;

    .stat-name {
        font-size: 13px;
        margin-bottom: 15px;
        font-weight: 500;
    }
    .stat-number {
        font-weight: 400;
        font-size: 24px;
    }
}

// .divider {
//     border-left: 1px solid #dee2e6; 
//     border-right: 1px solid #dee2e6; 
//     height:70px !important;
//     position: absolute;
//     top: 500;
// }