<div id="login-container" class="m-2">
    <form [formGroup]="form" (ngSubmit)="login()" class="d-flex justify-content-between flex-column">
        <div>
            <mat-form-field class="email-form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error>Email required or invalid</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error>Password required</mat-error>
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button type="submit" class="login-btn">Login</button>

            <hr class="solid">

            <button mat-raised-button class="register-btn" (click)="openSignUpDialog($event)">Create New Account</button>
        </div>
    </form>
</div>
