<div id="list-container">
    <div class="border">
        <div class="d-flex justify-content-between header">
          <div class="header-title">Employees</div>
          <div class="search-add d-flex">
            <mat-form-field class="mr-2">
              <mat-label>Search</mat-label>
              <input [(ngModel)]="searchText" (keydown.enter)="query('search')" matInput>
            </mat-form-field>
            <button mat-raised-button class="search-btn mr-2" (click)="query('search')">Search</button>
            <button mat-raised-button class="add-employee-btn"(click)="openEmployeeDialog('add', employee)">Add Employee</button>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="query('sort')">
      
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  ID </th>
            <td width="14%" mat-cell  *matCellDef="let element"> {{element.Id}} </td>
          </ng-container>

          <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td width="14.28%" mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td width="14.28%" mat-cell *matCellDef="let element"> {{element.LastName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comapny </th>
            <td width="14.28%" mat-cell *matCellDef="let element"> {{element.Company}} </td>
          </ng-container>

          <ng-container matColumnDef="Dependents">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dependents </th>
            <td width="14.28%" mat-cell *matCellDef="let element"> {{element.Dependents}} </td>
          </ng-container>

          <ng-container matColumnDef="CreatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Joined </th>
            <td width="14.28%" mat-cell *matCellDef="let element"> {{element.CreatedAt}} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th class="actions-column" mat-header-cell *matHeaderCellDef> Actions </th>
            <td class="actions-column" width="7.14%" mat-cell *matCellDef="let element">
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openEmployeeDialog('view', employee)">View</button>
                    <button mat-menu-item>Edit</button>
                    <button mat-menu-item (click)="openRemoveDialog(element.Id)">Delete</button>
                </mat-menu>
             </div>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator  [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="query('pageChange')"></mat-paginator>
      </div>
      
</div>