#list-container {

    .header {
        padding: 10px 20px;
        background-color: white;
        height: 70px;

        .header-title {
            margin-top: 5px;
            font-size: 25px;
        }

        .search-add {
            .search-btn {
                height: 36px;
                margin-top: 2px;
            }

            .add-employee-btn {
                color: #fff;
                background-color: #F03A17 !important;
                border-color: #F03A17 !important;
                height: 35px;
                margin-top: 3px;
            }
        }
    }

    table {
        width: 1036px;

        .actions-column {
            text-align: right;
        }
    }
}